
.form {
    margin: 0 auto;
    width: 450px;
}
fieldset {
    border-radius: 15px;
    background: linear-gradient(-45deg, rgba(190, 154, 87, 0.747),rgb(255, 255, 255));
}
.info {
    margin-top: 5px;
    width: 100%;
    height: 20px;
    display: flex;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%
}
input {
    width: 60%;
    height: 100%;
    border-radius: 5px;
}
legend {
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
#submit {
    width: 30%;
    background-color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 10px;
    margin-left: 40%;

}
#submit:hover {
    background-color: rgb(59, 238, 23);
}